<div class="container" >
		<div class="formDaftar">
			
			<% flash.each do |type, message| %>
				<p class="alert alert-success alert-dismissable fade show"><a href="home" style="float: right">back to home</a>
				<strong>Success!</strong><%=message%></p>
			<%end%>
			
			<h2>Registrasi Siswa</h2><br/>

			<%= form_tag do %>
				<div class="form-group">
					<%= label_tag :No_Induk %>
					<%= number_field_tag :noinduk, nil, class:'form-control', required: true %>
				</div>
				<div class="form-group">
					<%= label_tag :Nama %>
					<%= text_field_tag :nama,nil, class:'form-control', required: true %>
				</div>

				<div class="form-group">
					<%= label_tag :Jenis_Kelamin %>
					
					<div class="radio">
						<%= radio_button_tag :jenkel, "laki-laki", nil, required: true %><label style="margin-left: 5px">Laki-laki</label>
					</div>
					<div class="radio">
						<%= radio_button_tag :jenkel, "perempuan", nil, required: true %><label style="margin-left: 5px">Perempuan</label>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag :Kelas %>
					<%= text_field_tag :kelas, nil, class:'form-control',required: true, placeholder:"kelas-subkelas"%>
				</div>

				<div class="form-group">
					<%= label_tag :Jurusan %>
					<div class="radio">
						<%= radio_button_tag :jurusan, "IPA", nil, required: true %><label style="margin-left: 5px">IPA</label>
					</div>
					<div class="radio">
						<%= radio_button_tag :jurusan, "IPS", nil, required: true %><label style="margin-left: 5px">IPS</label>
					</div>
					<div class="radio">
						<%= radio_button_tag :jurusan, "Bahasa", nil, required: true %><label style="margin-left: 5px">Bahasa</label>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag :Sekolah %>
					<%= text_field_tag :sekolah, nil, class:'form-control', required: true%>
				</div>
				<div class="form-group">
					<%= label_tag :Username %>
					<%= text_field_tag :username, nil, class:'form-control', required: true %>
				</div>
				<div class="form-group">
					<%= label_tag :Password %>
					<%= password_field_tag :password, nil, class:'form-control', required: true %>
				</div>

				<%= submit_tag "Simpan", class:'btn btn-primary' %>
				<%= link_to "Batal", home_path, class:'btn btn-danger' %>
				
				<div style="float: right">
					<%= button_tag "Reset", type: :reset, class:'btn btn-light' %>
				</div>
			<% end %>

		</div>
</div>