<div class="container">
	<% if user = current_user %>
		<div class="dashboard" align="center">
			<h2 align="center">Materi Pelajaran Program Jurusan Bahasa</h2>
			<ul>
				<li><a href="materiBahasa/Bahasa Indonesia"><img class="menu" alt="Bahasa Indonesia" <%= image_tag 'sastra.png'%>
			    	<figcaption align="center"><h6>Bahasa Indonesia</h6></figcaption></a></li>
			    <li><a href="materiBahasa/Matematika"><img class="menu" alt="Matematika" align="center" <%= image_tag 'matematika.png'%>
			    	<figcaption align="center"><h6>Matematika</h6></figcaption></a></li>
			    <li><a href="materiBahasa/Bahasa Inggris"><img class="menu" alt="Bahasa Inggris" <%= image_tag 'inggris.png'%>
			    	<figcaption align="center"><h6>Bahasa Inggris</h6></figcaption></a></li>
			    <li><a href="materiBahasa/Sastra"><img class="menu" alt="Sastra" <%= image_tag 'ekonomi.png'%>
			    	<figcaption align="center"><h6>Sastra</h6></figcaption></a></li>
			    <li><a href="materiBahasa/Antropologi"><img class="menu"  alt="Antropologi" <%= image_tag 'antropologi.png'%>
			    	<figcaption align="center"><h6>Antropologi</h6></figcaption></a></li>
			    <li><a href="materiBahasa/Bahasa Asing"><img class="menu" alt="Bahasa Asing" <%= image_tag 'bahasa.png'%>
			    	<figcaption align="center"><h6>Bahasa Asing</h6></figcaption></a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<hr>

		<div style="height: 500px;">
			<h5>Materi Pembelajaran Sebagai Referensi Pelajar dalam Menambah Wawasan</h5>
			<p>Manfaatkan segala jenis fitur yang tersedia, lakukan persiapan semaksimal mungkin</p>
		</div>
		<div class="clear"></div>
	<% else %>
		<h3>Opps!!</h3>
	<% end %>
</div>
