<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPAW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
  <!--header-->
	<nav class="navbar navbar-expand-md bg-light navbar-light">
	<div class="navbar-header">
		<% user = current_user %>
		<% if user.jurusan == 'IPA' %>
			<%= link_to "Dashboard Siswa", dashboardIPA_path, class:'nav-link' %>
		<% elsif user.jurusan == 'IPS' %>
			<%= link_to "Dashboard Siswa", dashboardIPS_path, class:'nav-link' %>
		<% elsif user.jurusan == 'Bahasa' %>
			<%= link_to "Dashboard Siswa", dashboardBahasa_path, class:'nav-link' %>
	<% end %>
    
	</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    	<ul class="navbar-nav">
		   				<li class="nav-item">
		   						<% user = current_user %>
								<% if user.jurusan == 'IPA' %>
									<a href="materiIPA" class="nav-link">Materi</a>
								<% elsif user.jurusan == 'IPS' %>
									<a href="materiIPS" class="nav-link">Materi</a>
								<% elsif user.jurusan == 'Bahasa' %>
									<a href="materiBahasa" class="nav-link">Materi</a>
								<% end %>
		   				</li>

		   				<li class="nav-item">
		   						<% user = current_user %>
								<% if user.jurusan == 'IPA' %>
									<a href="simulasiIPA" class="nav-link">Simulasi</a>
								<% elsif user.jurusan == 'IPS' %>
									<a href="simulasiIPS" class="nav-link">Simulasi</a>
								<% elsif user.jurusan == 'Bahasa' %>
									<a href="simulasiBahasa" class="nav-link">Simulasi</a>
								<% end %>
		   				</li>

		   				<li class="nav-item">
		   					<a href="show_nilai/<%= user.noinduk %>" class="nav-link">Perkembangan</a>
		   				</li>

		   				<li class="nav-item">
		   					<a href="/profil" class="nav-link">Profil</a>
		   				</li>
    		</ul>
		    <ul class="navbar-nav" style="margin-right: 7%">
		   		<!--session username -->
		      	<% if user = current_user %>
					<li class="nav-item">

					      <li class="nav-item dropdown">
					      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					        <%= user.username %>
					      </a>
					      <div class="dropdown-menu">
					      	<a class="dropdown-item" href="profil">Profil</a>
					        <hr>
					        <%= link_to "Logout", logout_path, method: :delete, class:"dropdown-item" %>
					      </div>
					    </li>
			      	</li>
			    <% else %>
		        	<!--<a href="login" class="nav-link"> </a> -->
			    <%end%>
		    <!--end session username -->
		    </ul>
      </div> 
  </nav>
	
    <%= yield %>

    <!--footer-->
	<div class="footer">
  		<div class="nav-icon1">
  			<img class="icon" align="center" style="margin-left: 25%;"> <%= image_tag 'exam3.png'%><br/><br/>
  			<p>Sistem e-UAN merupakan sistem berbasis web yang digunakan untuk membantu Pelajar SMA dan Pengajar dalam melakukan persiapan untuk menghadapi Ujian Akhir Nasional secara Online.</p>
  		</div>

		<div class="nav-icon">
			<p class="follow">Follow Us</p>
			<a href="http://facebook.com"><img class="icon" <%= image_tag 'facebook.png'%></a>
			<a href="#"><img class="icon" <%= image_tag 'instagram.png' %></a>
			<a href="#"><img class="icon" <%= image_tag 'twitter.png' %></a>
			<a href="#"><img class="icon"<%= image_tag 'youtube.png' %></a>
			<a href="#"><img class="icon"<%= image_tag 'plus.png' %></a><br/><br/>
			<h6 class="footer">GRANADA PROJECT</h6>
			<P>Jl. Raya Cipadung No.334 Cipadung Wetan, Panyileukan Bandung Jawa Barat 40614</P>
			<p>+6282240715824 / +6282240715824</p>
			<p>&copy;2017 Granada Project</p>
		</div>
		<div class="clear"></div>

		<div class="nav-foot">
			<ul>
			   <li><a href="home">Home</a></li>
			   <li><a href="#">About</a></li>
			   <li><a href="#">Contact Us</a></li>
			   <li><a href="#">Privacy Policy</a></li>
			</ul>

			<hr>
		</div>
		<div class="clear"></div>
	</div>
	<!--end footer-->
  </body>
</html>
