<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPAW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<%= yield %>
	
  <!--footer-->
  	<div class="footer">
  		<div class="nav-icon1">
  			<img class="icon" align="center" style="margin-left: 25%;"> <%= image_tag 'exam3.png'%><br/><br/>
  			<p>Sistem e-UAN merupakan sistem berbasis web yang digunakan untuk membantu Pelajar SMA dan Pengajar dalam melakukan persiapan untuk menghadapi Ujian Akhir Nasional secara Online.</p>
  		</div>

		<div class="nav-icon">
			<p class="follow">Follow Us</p>
			<a class="fb" href="https://web.facebook.com/glenn.nurawaludin"><img class="icon" <%= image_tag 'facebook.png'%></a>
			<a href="#"><img class="icon" <%= image_tag 'instagram.png' %></a>
			<a href="#"><img class="icon" <%= image_tag 'twitter.png' %></a>
			<a href="#"><img class="icon"<%= image_tag 'youtube.png' %></a>
			<a href="#"><img class="icon"<%= image_tag 'plus.png' %></a><br/><br/>
			<h6 class="footer">GRANADA PROJECT</h6>
			<P>Jl. Raya Cipadung No.334 Cipadung Wetan, Panyileukan Bandung Jawa Barat 40614</P>
			<p>+6282240715824 / +6282240715824</p>
			<p>&copy;2017 Granada Project</p>
		</div>
		<div class="clear"></div>

		<div class="nav-foot">
			<ul>
			   <li><a href="home">Home</a></li>
			   <li><a href="#">About</a></li>
			   <li><a href="#">Privacy Policy</a></li>
			</ul>

			<hr>
		</div>
		<div class="clear"></div>
	</div>
  </body>
</html>
